/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Lorem Ipsum
# Nullam Commodo
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Lorem Ipsum
--------------------------------------------------------------*/
.wp-admin .miralca-export {
    border: 1px solid #ccc;
    height: 200px;
    margin-bottom: 1em;
    padding: 20px;
    width: 100%;
}

/*--------------------------------------------------------------
# Lorem Ipsum
--------------------------------------------------------------*/
.lorem {

}

/*--------------------------------------------------------------
# Nullam Commodo
--------------------------------------------------------------*/
.nullam {

}
