/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Lorem Ipsum
# Nullam Commodo
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Lorem Ipsum
--------------------------------------------------------------*/
.chosen-elements-is-empty {
    color: #999;
    border: 1px solid #999;
    padding: 15px;
}

/*--------------------------------------------------------------
# Lorem Ipsum
--------------------------------------------------------------*/
.lorem {

}

/*--------------------------------------------------------------
# Nullam Commodo
--------------------------------------------------------------*/
.nullam {

}
